*{margin:0; padding:0;}
*::before,*::after,*{box-sizing:content-box;}
a{color:inherit; text-decoration:none;}
ul,ol{list-style: none;}

:root{
    --font-size:14px;
}
.youtube{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    /*width: 1500px;*/
}
header{
    width: 100%;
    height: 52px;
    display: flex;
    border: 1px solid red;
}
.logo-place{
    flex-basis: 0%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.search-input{
    flex-basis: 0%;
    flex-grow: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid red;
}
.search-input input[type=text]{
    width: 200px;
    height: 18px;
    /*margin-left: 5px;*/
   flex-basis: auto;
    flex-shrink: 0;
}
.search-input input[type=submit]{
    margin-left: 5px;
    height: 18px;
    line-height: 18px;
    flex-shrink: 0;
}
.user-handle{
    flex-basis: 0%;
    flex-grow: 1;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-handle span{
    background-color: #ECECEC;
}
.user-handle .profile-photo{
    margin-left: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FCE8E8;
    background-color: #FCE8E8;
}
.main-content{
    display: flex;
    width: 100%;
    height: 100vh;
    border: 1px solid powderblue;
}
.main-content aside{
    flex-basis: 0%;
   flex-grow: 1;
    height: 100vh;
    border: 1px solid red;
}
.main-content aside .hot-voide ul{
    padding: 40px;
}
.main-content aside .hot-voide ul li{
    margin-bottom: 10px;
    border-left: 2px solid red;
    padding-left: 8px;
}
.main-content aside .hot-voide ul li a{
    color:#5C5C5C;
}
.main-content aside .hot-voide ul li a:hover{
    color:#cccccc;
}
main{
    flex-basis: 0%;
    border: 1px solid green;
    flex-grow: 4;
    height: 100vh;
    background-color: #F0F0F0;

}
main .main-wrapper{
    /*width: 1140px;*/
    height: 100vh;
    margin-left:60px;
    margin-right: 60px;
    border: 1px solid red;
}
.main-wrapper .user-home-page{
    height: 300px;
    border: 1px solid red;
}
.main-wrapper .user-home-page .user-bg{
    height: 200px;
    border: 1px solid red;
    background-color: #FF756D;
}.main-wrapper .user-home-page .user-bg .user-photo{
    width: 100px;
     height: 100px;
     border: 1px solid royalblue;
     background-color: #E4DC5E;
    margin-left: 10px;
 }
.main-wrapper .user-home-page .user-subscibe{
    height: 100px;
    border: 1px solid red;
    position: relative;
    background-color: #fff;
}
.main-wrapper .user-home-page .user-subscibe .subcibe-type{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.main-wrapper .user-home-page .user-subscibe .subcibe-date-time{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;


}
.main-wrapper .user-home-page .user-subscibe .subcibe-date-time span:nth-child(1){
    background-color: #DF3131;
    padding:0 0.5em;


}
.main-wrapper .user-home-page .user-subscibe .subcibe-date-time span:nth-last-child(1){
    background-color: #F0F0F0;
    padding:0 0.5em;

}
.main-wrapper .play-content{
    display: flex;
    margin-top: 5px;
}
.main-wrapper .play-content .play-main-content{
    flex-basis:0%;
    flex-grow: 4;

    margin-right: 5px;
    border: 1px solid pink;
}
.main-wrapper .play-content .play-main-content .play-voide-lists{
    display: flex;
    /*height: 200px;*/
    /*flex-direction:column;*/
}
.main-wrapper .play-content .play-main-content .play-voide-lists  .play-voide,
.main-wrapper .play-content .play-main-content .play-voide-lists  .play-voide-intro{
    margin-bottom: 2px;
}
.main-wrapper .play-content .play-main-content .play-voide-lists  .play-voide{
    flex-basis:0%;
    flex-grow: 1.5;
    background-color: #95DF7D;
    /*height: 200px;*/
    border: 1px solid red;
}
.main-wrapper .play-content .play-main-content .play-voide-lists .play-voide-intro{
    flex-basis:0%;
    flex-grow: 1;
    background-color: #fff;
    /*height: 200px;*/
    padding-left: 5px;
    padding-top:5px;
    padding-right: 5px;
    border: 1px solid red;
}
.main-wrapper .play-content .play-main-content .play-voide-lists .play-voide-intro span{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    color: #A8D3EE;
}
.main-wrapper .play-content .play-main-content  .play-voide-lists .play-voide-intro p{
    color: #5C5C5C;
}
.main-wrapper .play-content .play-aside-content{

    flex-grow:1;
    height: 200px;
    border: 1px solid chartreuse;
}